.App {
  text-align: center;
}

.App-logo {
  height: 0 px;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
  font-family: Brush script MT;
}
.col{
margin: 50px;

padding: 20px;
display:inline-block;
}
.container{
position: relative;
}

.col.exersice{
  font-size: 20px;
  color: white;
  font-family: "Montserrat";
  font-Weight:'bold';
}

.row{

}


.topic{

  background-color: lightblue;
}
.App-body{
height: 100%;
  background-image: url(../photos/person-holding-barbell-841130.jpg);
  background-size: cover;

}


.App-link {
  color: #09d3ac;
}
